body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #234453;
}
.header{
    width: 400px;
    padding: 1px;
    background-color: #186fe0;
    color: #fff;
}
.header h1{
    font-size: 14px;
}

fieldset{
    width: 400px;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    border: none;
    background-color: #c0baba;
    line-height: 1.6em;
}

.inputan{
    text-align: left;
    width: 300px;
    height: 25px;
    margin-bottom: 15px;
    border: none;
    border-radius: 0px;
    border: 1px solid grey;
}
.inputan:hover{
    background-color: #dee7f3;
    /* border: 1px solid #c0baba; */
}

input[type="submit"]{
    width: 305px;
    border: 1px solid #1161ca;
    background-color: #1161ca;
    color: #fff;
    padding: 8px;
    /* margin-bottom: 20px; */
    margin-top: 0px;
}
.login:hover{
    border: 1px solid #0f4a97;
    background-color: #0f4a97;
    color: #FFF;
    cursor: pointer;
}